[submodule "submodules/opensbi"]
	path = submodules/opensbi
	url = https://github.com/riscv-software-src/opensbi
[submodule "submodules/renode"]
	path = submodules/renode
	url = https://github.com/renode/renode
